/* GLOBAL VARIABLES: */
:root {
  /* Transitions */
  --slow: 600ms;
  --quick: 350ms;
  /* Colors */
  --white: #fff;
  --extraLightBlue: #c6edfc;
  --lightBlue: #58c1f5;
  --blue: #1890ff;
  --transBlue: rgba(29,130,246,0.5);
  --lightGreen: #a5e9cc;
  --green: #21d09d;
  --dark1: #212529;
  --dark2: rgba(0,0,0,0.85);
  --black: #000;
  --lightPink: #FFE4E1;
  --gray: gray;
  --lightGray: #ddd;
  /* Box-Shadows */
  --ShadowBtn:  0 0 10px rgba(0, 0, 0, 1);

}
a {
all: unset;
cursor: pointer;
font-weight: unset;
}

.App {
  position: relative;
  text-align: center;
  background-color: var(--white);
  color: var(--dark1);
  min-height: 100vh;
  padding-bottom: 10px;
}

.main {
  margin: 20px 0;
}

.wrap {
padding-bottom: 3rem;
}

.h2 {
  font-size: 4rem;
  color: var(--dark2);
  margin: 0;
  padding: 0;
}

.Gap {
  height: 100vh;
  width: 100vh;
}

.bigBtn {
background-color: var(--blue);
color: var(--white);
padding: 10px;
font-size: 1rem;
font-weight: 600;
border-radius: 2rem;
border-style: none;
margin: 1.5rem;
opacity: 80%;
transform: scale(1);
transition-duration: var(--quick);
}

.bigBtn:hover {
transform: scale(1.1);
background-color: var(--green);
opacity: 1;
transition-duration: var(--slow);
}

.btn {
color: var(--Black);
height: 2rem;
font-weight: bold;
border-style: none;
border-radius: 0.5rem;
cursor: pointer;
transition: var(--quick);
}

.btn:hover{
  color: var(--Black);
  box-shadow: var(--ShadowBtn);
  transition: var(--slow);
}

.link { /* LINK UNDERLINE REMOVAL */
  text-decoration: none !important;
}
.link:link {
  color: var(--white);
}
.link:visited {
  color: var(--extraLightBlue);
}
.link:hover {
  text-shadow: var(--lightBlue);
  transition: var(--quick);
}

.home {
  text-shadow: black;
}

ul { /* UL ELEMENT BASIC STYLE */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.box {
  display: block;
  max-width: 50vw;
  padding: 20px;
  margin: auto;
  margin-bottom: 10px;
  background-color: rgb(30, 30, 50);
  color: var(--white);
  border-radius: 20px;
  border: 5px solid rgb(20, 20, 40); /* width style color */
}

.waitgif {
  max-width: 25%;
  max-height: 25%;
  border-radius: 50%;
}

#space {
  width: 1rem;
}