.t-title {
font-size: 2rem;
font-weight: 400;
}

.t-filters {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    padding: 1.25rem;
    margin: 0.5rem auto;
    margin-bottom: 2rem;
    width: 80vw;
    border-radius: 1rem;
    background-color: var(--dark1);
    color: var(--white) !important;
}

.t-card {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 0.5rem auto;
    width: 80vw;
    opacity: 0.8;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem var(--dark1);
    transition-duration: var(--quick);
}

.t-card:hover {
    opacity: 1;
    width: 81vw;
    box-shadow: 0 0 0.5rem var(--lightBlue);
    transition-duration: var(--quick);
}

.t-date {
    position: absolute;
    top: 0.25rem;
    left: 0.5rem;
    color: var(--dark1);
    font-size: 0.8rem;
}

.t-item {
    display: flex;
    margin-top: 0.9rem;
    color: var(--dark2);
    font-size: 1.25rem;
    font-weight: 600;
}

.t-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0.75rem;
}

.t-amount {
    font-size: 1.25rem;
    font-weight: 650;
}

.t-btn {
    display: flex;
    align-items: center;
    background-color: var(--lightGray);
    color: var(--dark2) !important;
    font-size: 0.75em !important;
    font-weight: 650 !important;
    padding: 0 0.5em;
    margin-left: 0.4rem;
}

#edit-btn {
    background-color: var(--extraLightBlue);
}
#edit-btn:hover {
    background-color: var(--lightBlue);
    color: var(--white);
}

#delete-btn {
    background-color: var(--lightPink);
}
#delete-btn:hover {
    background-color: red;
    color: var(--white);
}

select {
    font: unset;
}

#filter-label {
    font-size: 1.25rem;
    font-weight: 600;
}

#balance-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-weight: 400 !important;
}

#see_all {
    font-size: 2rem;
    font-weight: 400 !important;
    color: var(--lightBlue);
}

#see_all:hover {
    color: var(--transBlue);
}

